@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

:root{
  --prime-color: #93C5FD ;
}

body{
    font-family: 'Nanum Gothic', sans-serif;
}

.center-cont{
    padding:0rem,1rem;
    max-width: 200px;
    margin:auto
}


.prim-link{
    text-decoration: none;
    color: whitesmoke;
    background-color: var(--prime-color);
    border-radius: 1rem;
    padding: 0rem 2rem;
}

.sec-link{
    text-decoration: none;
    color: black;
    border-radius: 1rem;
    padding: 0rem 2rem;
    border: solid;
    border-color:var(--prime-color);
}

.uno-lists{
    list-style: none;
}

.inline-uno-list{
    display: inline;
    padding: 0rem 2rem;
}

.navigation{
    background-color: var(--prime-color);
    padding:0rem 3rem;
    text-align: right;
}

.link{
    padding: 0rem 2rem;
    display: inline;
      
}

.link-chars{
    text-decoration: none;
    color: white;
    background-color: var(--prime-color);
}

.image{
    margin:auto;
    max-width: 300px;
    display: block;
}

.header{
    font-size: medium;
    font-weight: 300;
}

.section{
    padding:2rem;
}

.sect1{
    background-color: yellowgreen;
}
.sect2{
    background-color:grey;
}

.footer{
    background-color: var(--prime-color);
    padding:1rem;
    text-align: center;
}

.social{
    display:inline;
    padding:2rem
}